
<h2>My Heroes</h2>

<!-- <ul class="heroes">
    <li *ngFor="let hero of heroes" 
            <! -- [class.selected]="hero === selectedHero" -- >
            <! -- (click)="onSelect(hero)"> -- >
            <a routerLink="/detail/{{ hero.id }}">
            <span class="badge">{{ hero.id }}</span> {{ hero.name }}
            </a>
        <span class="badge"> {{ hero.id }} </span> {{ hero.name | uppercase }}
    </li>
</ul> -->

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name | uppercase }}
        </a>
    </li> 
</ul>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->